/* font-family: 'Roboto';
font-style: normal; */
/* -----------------------------------------------------------*/
/* цвет шапки: FFFFFF */
/* основной цвет фона:  FFFFFF       E5E5E5 */
/* дополньтельній цвет фона: F5F4FA */
/* цвет футера: 2F303A */
/* -----------------------------------------------------------*/
/* текст лого (шапка): синий - 2196F3 , черній - 000000 */
/* текст навигации: віделено - 2196F3 , в состоянии покоя - 212121 */
/* текст навигации (почта телефон): почта - 2196F3 , телефон -  757575 */
/* главній герой (текст): FFFFFF */
/* главній герой (фон): 2F303A */
/* заголовки 2: 212121 */
/* заголовки 3: 212121 */
/* основной текст: 757575 */
/* текст лого (футер): синий - 2196F3 , белій - FFFFFF */
/* тект (почта телефон)(футер): rgba(255, 255, 255, 0.6); */
/* цвет фона футер: 2F303A */

/* 
logo: font-family: 'Raleway'; 700
nav: font-family: 'Roboto'; 500
h1: font-family: 'Roboto'; 900
button primary: font-family: 'Roboto'; 700
button secondary: font-family: 'Roboto'; 500
h2: font-family: 'Roboto'; 700
p: font-family: 'Roboto'; 400
h3: font-family: 'Roboto'; 500
*/

:root {
  --primary-text-color: #757575;
  --white-text-color: #ffffff;
  --title-text-color: #212121;
  --black-text-color: #000000;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-hover-color: rgba(33, 150, 243, 0.6);
  --dark-bgc: #2f303a;
  --button-navigation-color: #f5f4fa;
}

body {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;

  cursor: pointer;
}

.list {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Навигация сайта*/

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  outline: 1px solid #f0f;
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-auto .link {
  color: var(--primary-text-color);
}

.site-auto .link:hover,
.site-auto .link:focus {
  color: var(--accent-color);
}

.site-auto {
  display: flex;
  margin-left: auto;
}

.site-auto .item + .item {
  margin-left: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid blue;
  padding-left: 20px;
  padding-right: 20px;
}

.team-conteiner {
  margin-bottom: 0;
  padding: 94px 0;
}

.portfolio-container {
  margin-bottom: 94px;
}

/* logo decorstion */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.first-word {
  color: var(--accent-color);
}
.second-word {
  color: var(--black-text-color);
}
.logo:hover > span,
.logo:focus > span {
  color: var(--footer-hover-color);
}

/* decoration fof logo in footer */
.footer .second-word {
  color: var(--white-text-color);
}

/*hero section*/
.hero {
  background-color: var(--dark-bgc);
  outline: 2px solid blue;

  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  /* line-height: 1.17px; */
  text-align: center;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* team */
.team-list {
  /* text-align: center; */
  margin-top: 0;
  margin-bottom: 0;
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list p {
  margin-top: 0;
  margin-bottom: 30px;
}

/* portfolio photo  */
.filt-list {
  margin-top: 0;
  margin-bottom: 50px;
}

.portfolio-list {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list p {
  margin-top: 0;
  margin-bottom: 20px;
}

.portfolio-list .link {
  color: var(--primary-text-color);
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
  color: var(--accent-color);
}

.portfolio-list {
  margin-top: 0;
  margin-bottom: 20px;
}

/* button */
button {
  font-family: inherit;

  display: inline-block;
}

.button {
  background-color: var(--white-text-color);
  color: var(--black-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;

  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: none;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--white-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;

  padding: 10px 32px;
  min-width: 200px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

.button.secondary {
  background-color: var(--button-navigation-color);
  color: var(--black-text-color);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--button-navigation-color);
}

/* footer */
.footer {
  background-color: var(--dark-bgc);
  color: var(--white-text-color);
}

.addres {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.addres .addres-link {
  color: var(--footer-link-color);
}

.addres .addres-link:hover,
.addres .addres-link:focus {
  color: var(--footer-hover-color);
}

.footer-container {
  margin-top: 0;
  margin-bottom: 0;
  padding: 60px 0;
}

/* .footer-container .logo {
  margin-top: 0;
  margin-bottom: 20px;
}
.addres p {
  margin-top: 0;
  margin-bottom: 9px;
}
.addres a {
  margin-top: 0;
  margin-bottom: 9px;
  background-color: #fff;
} */
